* {
  margin: 0;
  padding: 0;
  /* border: 0; */
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-size: 18px;
}
html {
  & h1 {
    font-weight: 400;
    font-size: 2rem;
  }
  & h2 {
    font-weight: 400;
    font-size: 1.5rem;
  }
  & p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  & span {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
}
.add_pet article {
  max-width: 20rem;
  margin: 1rem;
}
.new_pet_form {
  margin: 1rem;
  width: 100%;

  & p:first-of-type {
    font-size: 0.8rem;
    font-style: italic;
  }
  & input:invalid {
    color: red;
  }

  & select:invalid {
    color: red;
  }

  & > fieldset {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 50%;
    max-width: 20rem;
    border: 1px solid forestgreen;
    padding: 0.5rem;
  }
  & > fieldset > fieldset {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
  }
  & .dob input {
    max-width: 5rem;
  }
  & [placeholder] {
    font-style: italic;
  }
}
/* #content {
  display: none;
} */
.pets {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin: 1rem;
}
article {
  border: 1px solid forestgreen;
}
