* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-size: 18px;
}
html {
  & h1 {
    font-weight: 400;
    font-size: 2rem;
  }
  & h2 {
    font-weight: 400;
    font-size: 1.5rem;
  }
  & p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  & span {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
}
.pets {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
